.sign-in-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  background-color: whitesmoke;
  padding: 30px 30px;
  color: black;
  border-radius: 15px;
  margin: auto;
  margin-top: 50px;
  
  h2 {
    margin: 10px 0;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
  }
}